[submodule "src/thirdparty/libusb-cmake"]
	path = src/thirdparty/libusb-cmake
    url = https://github.com/libusb/libusb-cmake.git
[submodule "src/thirdparty/pybind11"]
	path = src/thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "src/thirdparty/hidapi-git"]
	path = src/thirdparty/hidapi-git
	url = https://github.com/libusb/hidapi.git
[submodule "standalone_chessclock"]
	path = standalone_chessclock
	url = https://github.com/nicvagn/standalone_chessclock.git
[submodule "src/thirdparty/chessnutair"]
	path = src/thirdparty/chessnutair
	url = https://github.com/nicvagn/chessnutair.git
