**/NicLink.log
**/lichess_token/*
build/*
/src/pybind11
EasyLinkSDK
etc
**/__pycache__
nicsoft/niclink_lichess/niclink
.vscode
nicsoft/bin
nicsoft/lib*
nicsoft/include
nicsoft/niclink/_niclink*.so
**/TODO
**/NicLink.log
external_clock/old
